#myForm {
  background-color:#f8fafc;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin: 20px auto;
  border: 1px solid #e4e8ee;
  padding: 15px;
  -webkit-box-shadow: -4px 8px 23px -12px rgba(66,66,66,0.62);
  -moz-box-shadow: -4px 8px 23px -12px rgba(66,66,66,0.62);
  box-shadow: -4px 8px 23px -12px rgba(66,66,66,0.62);
}

.formInput {
  width: 80%;
  padding: 5px;
  border-radius: 5px;
  margin: 10px auto;
}

.formBtn {
  padding: 5px 0;
  width: 20%;
  background-color: #151924;
  color: white;
  border: none;
  margin: 5px 0;
  border-radius: 5px;
  cursor: pointer;
}

.inputDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 10px auto
}

.popup {
  position: fixed;
  top: 25px;
  right: 25px;
  background-color: #f0fdf4;
  color: #14532d;
  padding: 15px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-box-shadow: -7px 6px 23px -8px rgba(66,66,66,0.62);
  -moz-box-shadow: -7px 6px 23px -8px rgba(66,66,66,0.62);
  box-shadow: -7px 6px 23px -8px rgba(66,66,66,0.62);
}

.formLabel {
  margin-left: 8%;
}

.saveBtn {
  position: fixed;
  bottom: 25px;
  left: 25px;
  width: 10%;
  padding: 10px;
}
